@model TurboRango.Dominio.Restaurante

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Restaurante</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Capacidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Capacidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Localizacao.Bairro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Localizacao.Bairro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Localizacao.Logradouro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Localizacao.Logradouro)
        </dd>
        @if (Model.Contato != null && Model.Contato.Telefone != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Contato.Telefone)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Contato.Telefone)
            </dd>
        }
        
        @if (Model.Contato != null && Model.Contato.Site != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Contato.Site)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Contato.Site)
            </dd>
        }
        <dt>
            @Html.DisplayName("Abrir Mapa")
        </dt>
        <dd>
            <a id="maps" href="http://maps.google.com/?saddr=&daddr=@Model.Localizacao.Latitude,@Model.Localizacao.Longitude" target="_blank">Visualizar tragetória</a>
            <br /><p>Obs.: A função de tragetória só irá funcionar corretamente se a opção de rastreamento estiver ativa, caso contrário você terá que completar a posição de origem.</p>
        </dd>

    </dl>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" onclick="MostrarFormulario()" value="Adicionar Comentários" class="btn btn-default" />
        </div>
    </div>
    <br />
    <br />

    <form hidden="hidden" id="FeedBack" name="FeedBack" action="javascript:AdicionarComentario()" method="post">
        <input name="Usuario" type="hidden" value="@ViewBag.UsuarioLogado" />
        <input name="DataFeedBack" type="datetime" hidden="hidden" value="@ViewBag.DataFeedBack" />
        <input name="IdRestaurante" type="hidden" value="@Html.DisplayFor(model => model.Id)" />

        <div class="form-horizontal">
            <div class="form-group">
                <label for="Nota" class="control-label col-md-2">Nota</label>
                <div class="col-md-10">
                    <input class="form-control" id="Nota" name="Nota" type="number" min="0" max="5" required="required" title="Limite entre 0 e 5" />
                </div>
            </div>
            <div class="form-group">
                <label for="Comentario" class="control-label col-md-2">Comentario</label>
                <div class="col-md-10">
                    <textarea class="form-control" id="Comentario" name="Comentario"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Adicionar" class="btn btn-default" />
                </div>
            </div>
        </div>
    </form>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@section Scripts{
    @Scripts.Render("~/bundles/haversine")
    <script>
    var latitudeRestaurante = @ViewBag.RestauranteLatitude;
    var longitudeRestaurante = @ViewBag.RestauranteLongitude;
        //alert(qtdRestaurantes);

        var feedback = $('#feedback');

        var gerarRandomico = function (min, max) {
            return Math.floor(Math.random() * (max - min)) + min;
        };

        var distancia = function (coord1, coord2) {
            return haversine(coord1, { latitude: coord2.Latitude, longitude: coord2.Longitude }, { unit: 'km' });
        };

        var round = function(n) {
            return Math.round(n * 100) / 100;
        };

        navigator.geolocation.getCurrentPosition(
            function success(resultado) {

                var posicaoAtual = resultado.coords;
                var link = "http://maps.google.com/?saddr=";
                link += posicaoAtual.latitude +","+ posicaoAtual.longitude;
                link += "&daddr=" + latitudeRestaurante + "," + longitudeRestaurante;

                $('a[id=maps]').attr('href', link);
            },
            function error(err) {
                console.error(err);
            },
            { enableHighAccuracy: true, timeout: 5000, maximumAge: 0 }
        );

        function AdicionarComentario(){
            var dados = $('form[id=FeedBack]');
            console.log(dados);
            $.ajax({
                url: '/Comentarios/Comentarios',
                dataType : 'JSON',
                type: 'POST',
                data: dados.serialize()
            }).done(function(res){console.log(res);}).fail(function(res){console.log(res);});
        };

        function MostrarFormulario(){
            $('form[id=FeedBack]').removeAttr('hidden');
        };
    </script>
}